---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class:list={["w-full", { "mt-auto": !noMarginTop }]}>
  <Hr noPadding />
  <div
    class="flex flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4"
  >
    <Socials centered />
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
      <a href="/newsletter" class="hover:text-accent">Newsletter</a>
      <span class="mx-2 hidden sm:inline">·</span>
      <a href="/privacidade" class="hover:text-accent">Privacidade</a>
      <span class="mx-2 hidden sm:inline">·</span>
      <a href="/contacto" class="hover:text-accent">Contacto</a>
      <span class="mx-2 hidden sm:inline">·</span>
      <a href="https://github.com/saydequaresma/saydequaresma.github.io" target="_blank" rel="noopener noreferrer" class="hover:text-accent">
        Site source ➜ Code MIT
      </a>
    </div>
  </div>
</footer>
